.home-header {
  background: #111827;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.home-header a {
  color: #4f46e5;
  font-weight: 600;
  text-decoration: none;
}
