/* Import de fonte moderna e neutra */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Base global */
:root {
  --font-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

  --color-text: #1f2937; /* cinza escuro elegante */
  --color-bg: #ffffff;
}

/* Reset leve (sem quebrar layout) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body limpo */
body {
  margin: 0;
  font-family: var(--font-base);
  color: var(--color-text);
  background-color: #0f172a;
  line-height: 1.6;
}

p {
  margin: 0;
}



/* Botões herdam fonte */
button {
  font-family: inherit;
}
